<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ScanF - Web application security scanner</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/lib/bootstrap.min.css" type="text/css">
  <script src="js/lib/jquery-3.3.1.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>

  <!-- Vue.js -->
  <script src="js/lib/vue-dev.js"></script>
  <script src="js/lib/axios.min.js"></script>

  <link rel="stylesheet" href="css/lib/hacker.css" type="text/css">
  <link rel="stylesheet" href="css/scanf.css" type="text/css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div id="cover" class="col-md-12">
        <p>
          <span id="title">ScanF</span>&nbsp;&nbsp;
          <span id="subtitle" class="text-warning">Web application security scanner</span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2" id="sitePanel">

        <h3>Websites
          <span v-if="websites.length>0">({{websites.length}})</span>
        </h3>

        <!-- URL INPUTER -->
        <div class="input-group">
          <input v-model="inputUrl" type="text" placeholder="Crawl URL" class="form-control">
          <span class="input-group-btn">
            <button v-if='loading' v-on:click="stopCrawl" type="submit" class="btn btn-default">&times;</button>
            <button v-else v-on:click="goCrawl" type="submit" class="btn btn-default">Go!</button>
          </span>
        </div>
        <br>

        <!-- WEBSITE PANEL -->
        <div id='sites'>
          <ul class="list-group">
            <li v-for="site in websites" v-bind:class="{active: nowactive==site.id}" class="list-group-item justify-content-between align-items-center">
              <span v-on:click="deleteWebsite(site.id)" class="closeX label label-danger badge-pill">&times;</span>
              <a v-on:click="eventWebsiteClick(site.id)" href="javascript:void(0)">{{site.baseurl}}</a>
            </li>
          </ul>
        </div>

        <!-- COOKIES -->
        <h3>Cookies
          <a v-on:click="addCookie" href="javascript:void(0)">[Add]</a>
        </h3>

        <div id="cookies">
          <ul class="list-group">
            <li v-for="cookie in cookies" class="list-group-item justify-content-between align-items-center">
              <span v-on:click="deleteCookie(cookie)" class="closeX label label-danger badge-pill">&times;</span>
              <a v-on:click="updateCookie(cookie)" data-toggle="modal" data-target="#cookieModal" href="#">{{cookie.name}}</a>
            </li>
          </ul>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="cookieModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Cookie</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="control-label col-sm-2">Name:</label>
                    <div class="col-sm-10">
                      <input v-model="cookieName" type="text" class="form-control" placeholder="Cookie name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Value:</label>
                    <div class="col-sm-10">
                      <input v-model="cookieValue" type="text" class="form-control" placeholder="Cookie value">
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                <button v-if="cookieAddFlag" v-on:click="addCookieRequest" type="button" class="btn btn-primary"
                  data-dismiss="modal">Save</button>

                <button v-else v-on:click="updateCookieRequest" type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- PAGE PANEL -->
      <div id="pagePanel" class="col-md-3">
        <h3>Pages
          <span v-if="pages.length>0">({{pages.length}})</span>
        </h3>
        <div id="pages">
          <ul class="list-group">
            <li v-for="page in pages" v-bind:class="{active: nowactive==page.id}" class="list-group-item justify-content-between align-items-center">
              <span v-on:click="deletePage(page.id)" class="closeX label label-danger badge-pill">&times;</span>
              <a v-on:click="eventPageClick(page.id)" href="javascript:void(0)">{{getOnlyPath(page.url)}}</a>

              <br v-if="page.forms.length>0"></br>
              <ul v-if="page.forms.length>0">
                <li v-for="form in page.forms" v-on:click="eventFormClick(form)" class="text-warning">
                  <a href="javascript:void(0)" class="text-warning">Form:{{form.id}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <!-- The Modal -->
        <div v-bind:style="{'display':modalDisplay}" v-on:click="closeScreenshot" class="modal">
          <img v-bind:src="modalImgSrc" class="modal-content">
          <div id="caption">{{modalCaption}}</div>
        </div>
      </div>

      <!-- INJECTION PANEL -->
      <div id="injectionPanel" class="col-md-5">
        <h3>Injections</h3>

        <!-- NAVBAR -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li v-bind:class="{active: currentview=='sql'}" v-on:click="viewSql()">
                <a href="javascript:void(0)">SQLi</a>
              </li>
              <li v-bind:class="{active: currentview=='xss'}" v-on:click="viewXss()">
                <a href="javascript:void(0)">XSS</a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- ---------------------- SQLi --------------------- -->
        <div v-if="currentview=='sql'" id="sqlinput" class="col-md-6">
          <h4>SQLi Attack</h4>
          <!-- AUTO ATTACK -->
          <h5 class="text-info">Automated attack</h5>
          <div class="input-group">
            <select v-model="sqlPayload" class="form-control">
              <option disabled value="">Select string</option>
              <option v-for="sqli in sqlis">{{sqli.queryStr}}</option>
            </select>
            <span class="input-group-btn">
              <button v-on:click="autoSQLiAttack" type="submit" class="btn btn-default">Go!</button>
            </span>
          </div>

          <!-- MANUAL ATTACK -->
          <h5 class="text-info">Custom attack</h5>
          <div v-for="field in fields">
            <h5>{{field.name}} ({{field.type}})</h5>
            <input v-model="field.default_value" type="text" class="form-control input-sm">
          </div>
          <br>
          <button v-on:click="manualSQLiAttack" type="submit" class="btn-default">Send request</button>
        </div>

        <!-- SQL RESULT -->
        <div v-if="currentview=='sql'" id="sqloutput" class="col-md-6">
          <h4>SQLi Result</h4>
          <template v-if="sqliTestResult != null">
            <p>
              <span class="text-warning">Time:</span>&nbsp;
              {{sqliTestResult.time}}
            </p>
            <p>
              <span class="text-warning">HTML:</span>&nbsp;
              <a :href="sqliTestResult.html_output_path" target='_blank'>{{sqliTestResult.html_output_path}}</a>
            </p>
            <p>
              <span class="text-warning">Screenshot:</span>&nbsp;
              <a v-on:click="displayScreenshot(sqliTestResult.screenshot_path)" href="javascript:void(0)">
                {{sqliTestResult.screenshot_path}}</a>

            </p>
            <p>
              <span class="text-warning">Duration:</span>&nbsp;
              {{formatDuration(sqliTestResult.duration)}}
            </p>
            <p>
              <span class="text-warning">Result:</span>&nbsp;
              <span v-if="sqliTestResult.result=='vulnerable'" class="text-danger">{{sqliTestResult.result}}</span>
              <span v-else>{{sqliTestResult.result}}</span>
            </p>
          </template>
        </div>

        <!-- The Modal -->
        <div v-bind:style="{'display':modalDisplay}" v-on:click="closeScreenshot" class="modal">
          <img v-bind:src="modalImgSrc" class="modal-content">
        </div>

        <!-- ---------------------- XSS -------------------- -->
        <div v-if="currentview=='xss'" id="xssinput" class="col-md-6">
          <h4>XSS Attack</h4>
          <!-- AUTO ATTACK -->
          <h5 class="text-info">Automated attack</h5>
          <div class="input-group">
            <select v-model="xssPayload" class="form-control">
              <option disabled value="">Select string</option>
              <option v-for="xss in xsss">{{xss.payload}}</option>
            </select>
            <span class="input-group-btn">
              <button v-on:click="autoXSSAttack" type="submit" class="btn btn-default">Go!</button>
            </span>
          </div>
        </div>
        <div v-if="currentview=='xss'" id="xssoutput" class="col-md-6">
          <h4>XSS Result</h4>
          <template v-if="xssTestResult != null">
            <p>
              <span class="text-warning">Time:</span>&nbsp;
              {{xssTestResult.time}}
            </p>
            <p>
              <span class="text-warning">HTML:</span>&nbsp;
              <a :href="xssTestResult.html_output_path" target='_blank'>{{xssTestResult.html_output_path}}</a>
            </p>
            <p>
              <span class="text-warning">Screenshot:</span>&nbsp;
              <a v-on:click="displayScreenshot(xssTestResult.screenshot_path)" href="javascript:void(0)">
                {{xssTestResult.screenshot_path}}</a>

            </p>
            <p>
              <span class="text-warning">Duration:</span>&nbsp;
              {{formatDuration(xssTestResult.duration)}}
            </p>
            <p>
              <span class="text-warning">Result:</span>&nbsp;
              <span v-if="xssTestResult.result=='vulnerable'" class="text-danger">{{xssTestResult.result}}</span>
              <span v-else>{{xssTestResult.result}}</span>
            </p>
          </template>
        </div>

      </div>

      <!-- TEST PANEL -->
      <div id="testPanel" class="col-md-2">
        <h3>Test List
          <!-- <span v-if="tests.length>0">({{tests.length}})</span> -->
        </h3>
        <ul class="list-group">
          <li v-for="test in tests" v-if="test.type==tab" v-bind:class="{active: nowactive.id==test.id}" class="list-group-item justify-content-between align-items-center">
            <span v-on:click="deleteTest(test.id)" class="closeX label label-danger badge-pill">&times;</span>
            <a v-on:click="eventTestClick(test)" href="javascript:void(0)">Test:{{test.id}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End of row -->


  </div>
</body>


<script src="js/website.js"></script>
<script src="js/page.js"></script>
<script src="js/test.js"></script>
<script src="js/attack.js"></script>

<script>
  scanfUrl = 'http://localhost:5000/api'
  websiteVue.getWebsites()
</script>

</html>