div {
    border: 1px solid green;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/************ WEBSITE PANEL **************/

li {
    /* cursor:pointer; */
    font-size: 10pt;
    word-break: break-all;
}

.closeX{
    cursor:pointer;
}

.label {
    border-radius: 15px;
}


#sites {
    height: 25vh;
    overflow-y: scroll;
}

#cookies {
    height: 45vh;
    overflow-y: scroll;
    list-style-type: none;
}

/*********** Page ***************/

#pages {
    height: 80vh;
    overflow-y: scroll;
    list-style-type: decimal;
}

#page .list-group-item {
    display: list-item;
}