/* div {
    border: 1px solid green;
} */

/*********** SCROLLBAR STUFF *************/

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/***************** TITLE/HEADING ************/

#title {
    font-size:33px;
}

#subtitle {
    font-size:20px;
}

#cover{
    margin-top: 15px;
}

/****************** SCREENSHOT STUFF ****************/

/* The Modal (background) */
#pagePanel .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#pagePanel .modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#pagePanel #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
#pagePanel .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.3s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/************** ON LIST ACTIVE *************/


#sites .active, #pages .active, #testPanel .active {
    background-color: green;
}

/************ WEBSITE PANEL **************/

li {
    /* cursor:pointer; */
    font-size: 10pt;
    word-break: break-all;
}

li a:hover {
    cursor:pointer;
}

.closeX{
    cursor:pointer;
}

.label {
    border-radius: 9px;
}


#sites {
    height: 25vh;
    overflow-y: scroll;
}

#cookies {
    height: 40vh;
    overflow-y: scroll;
    list-style-type: none;
}

/*********** Page ***************/

#pages {
    height: 81vh;
    overflow-y: scroll;
    list-style-type: decimal;
}

#page .list-group-item {
    display: list-item;
}

/********* Injection panel ***********/

#injectionPanel .container-fluid {
    padding: 0;
}

#sqlinput, #sqloutput, #xssinput, #xssoutput {
    height: 70vh;
    overflow-y: scroll;
} 